html, body {
    background-color: black;
    color: greenyellow;

    margin: 0;
    height: 100%;
}

#codex {
    display: flex;
    flex-direction: row;
}

#sigma-container {
    width: 800px;
    height: 600px;
    border: 1px solid;
}

#reader {
    width: 800px;
    height: 600px;
    border: 1px solid;
}